*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 60px;
  background-color: black;
  text-align: right;
}

header span{
  color: white;
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 4px;
}

header div{
  padding: 10px;
}

main{
  padding: 60px;
  background-color: black;
  height: calc(100vh - 140px);
  overflow: scroll;
}

.container{
  background-color:black;
  margin: 0 auto;
  text-align: center;
}

.box-user{
  background-color: brown;
  width: 13vw;
  height: 20vh;
  margin: 10px 5px;
  display: inline-block;
  min-width: 6vw;
  min-height: 10vh;
  position: relative;
}

.box-user img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .user-name{
  position: absolute;
  left: 0;
  bottom: 0;
  color: red;
  background-color:rgba(0,0,0,0.2);
  font-size: 1vw;
  
}

footer{
  background-color: lightgray;
  height: 80px;
  width: 100%;
}
