*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-y: hidden;
}
header{
  width: 100%;
  height: 60px;
  background-color: black;
  text-align: right;
}

header span{
  color: white;
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 4px;
}

header div{
  padding: 10px;
}

main{
  padding: 10px;
  background-color: black;
  height: calc(100vh - 140px);
  overflow: scroll;
  text-align: center;
  overflow-x: hidden;
}


.box-user{
  background-color: brown;
  width: 13vw;
  height: 20vh;
  margin: 10px 5px;
  display: inline-block;
  min-width: 6vw;
  min-height: 10vh;
  position: relative;
}

.box-user img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .user-name{
  position: absolute;
  left: 0;
  bottom: 0;
  color: red;
  background-color:rgba(0,0,0,0.2);
  font-size: 1vw;
  
}

footer{
  background-color: #222222;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: white;
}

footer ul{
  display: flex;
  align-self: center;
}

footer ul li{
  text-align: center;
  list-style: none;
  padding: 10px 10px;
}

li .icons-big{
  font-size: 25px;
}

li  .icons-small{
  font-size: 10px;
}

li p{
  font-size: 12px;
  padding: 5px;
}

footer .end{
  width: 100px;
  height: 60px;
  background-color: rgba(74,74,74,255);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
